/* Açıklama Satırı bu Şekilde Yazılıyor */ 
/* yada */
/****************** deneme  ***************/
/* class için >>>  .text-red {} 
   id için    >>>  #id bilgisi {}
*/

.fs-small 
{
  font-size: small;
}

.fs-medium 
{
  font-size: medium;
}

.fs-large 
{
  font-size: large;
}

#first-article 
{
font-size: 40px;
}

h1, h2 ,h3 ,h4 ,h5 ,h6 
{
color: red;
}